 :root{
    --custom-font : 'Kalam', cursive;
    --primary-color : #ff007f;
    --nav-color : #210024;
    --text-color : white

 }

 body{
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='58.4' stroke-opacity='0.1' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
 }

.btn{
    font-family: var(--custom-font);
    font-size:20px;
}
 
 /* For NavBar Color */
.bg-custom {
    background-color:  var(--nav-color)
}

.custom-sec-color{
    background-color: var(--primary-color);
    color : var(--text-color);
}
.custom-sec-color:hover{
    background-color: var(--nav-color);
    color:var(--text-color);
}

@media only screen and (max-width: 576px){
    .custom-nav-brand{
        width:80% !important;
    }
}

.custom-nav-brand{
    width:100%;
    position: relative;
    text-align : center;
    font-family: var(--custom-font);
    font-weight: bold;
    font-size:30px
}

/* Main Page */
.main-page{
    margin-top:5%;
}
.main-page .col{
    text-align: center;
}

 /* Loading Icon Style */

.spinner-style{
    text-align: center;
    padding-top: 10%;
    width: 90%;
    position: absolute;
}

.hide{
    display: none;
}

/* For Cards */

.card-common-style{
    margin : 5% 7% 5% 7%;
    opacity : 0;
    background-color:var(--primary-color);/* rgb(45, 43, 85);*/
    color:var(--text-color);
    font-family: var(--custom-font);
    font-size:20px;
    width:85% !important;
}
.card-styles1 {
    height : 212px;
}

.card-styles2 {
    height : 175px;
}

.card-styles3 {
    height : 200px;
}
.card-styles4 {
    height : 225px;
}

.card-styles5 {
    height : 250px;
}

.card-styles6 {
    height : 275px;
}

/* To Control number of Columns of Cards */
@media only screen and (max-width: 700px){
    .custom-count{
        column-count: 1 !important;
    }
}

@media only screen and (max-width:1024px) and (min-width: 700px){
    .custom-count{
        column-count: 2 !important;
    }
}
@media only screen and (min-width:1024px){
    .custom-count{
        column-count: 3 !important;
    }
}

/* .custom-count{
    column-count: 3;
} */

/* Cards Animations Classes */

/* .card:hover .readMore{
    opacity: 1;
    width:100%
}
.card:hover .card-text:not(.readMore){
    opacity: 0;
}
*/
.readMore{
    width : 150px;
    text-align : center;
    margin-top:-50px;
    font-family: var(--custom-font);
} 
.custom-enter, .custom-appear {
    opacity: 0.01;
}
.custom-enter-done {
    opacity : 1;
}

.custom-enter-active, .custom-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.custom-exit {
    opacity: 1; 
}

.custom-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* For Modals */
.modal-font{
    font-family: var(--custom-font);
}

/*MainCardStyle*/

.show-card-style{
    margin : 5% 10% 10% 10%;
    background-color: var(--primary-color);
    color:var(--text-color);
    font-family: var(--custom-font);
    font-size:20px;
    width:100% !important;
}

/* Add Admin div style */

.big-div{
    margin:5% 10% 10% 10%;
    
    color:var(--text-color);
    width: 80%
}

/* .textarea-big-box{
    height: 150px !important;
} */